<mat-card>
    <mat-card-title>
        Order Summary
    </mat-card-title>
    <mat-card-content>
        <div class="subtotal" *ngFor="let product of products">
            <ng-container *ngIf="product.isPlaceOrder">
                <div>
                    {{product.name}} x {{product.quantity}}
                </div>
                <div class="totalPrice">
                    {{product.price * product.quantity}}
                </div>
            </ng-container>
        </div>
        <div class = "total">
            Total:
            {{totalPrice}}
        </div>
        <button mat-button color="primary" (click)="handlePlaceOrder()" >Place Order</button>
    </mat-card-content>
</mat-card>