<div class="product">
    <mat-checkbox class="save-order" (change)="handleChecked($event.checked)" 
        [checked]="product.isPlaceOrder"></mat-checkbox>
    <div class="product picture">
        <img src="{{product.image}}">
    </div>
    <div class="product content">
        <p class="title">{{product.name}}</p>
        <p class="description">{{product.description}}</p>
        <div class="product quantity">
            Quantity: 
            <button class="remove-button" mat-icon-button (click)="removeItem()" color="primary" aria-label="Removing Item">
                <mat-icon>remove</mat-icon>
              </button>
            <mat-form-field class="quantity-inputbox" appearance="fill" floatLabel="always">
                <input class="change-input" matInput type="number" placeholder="0" [value]="product.quantity" (change)=handleQuantityChange($event)>
            </mat-form-field>
            <button class="add-button" mat-icon-button (click)="addItem()" color="primary" aria-label="Adding More">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="price">
        {{product.price | currency:"PHP":"symbol"}}
    </div>
</div>
