.product {
    display: flex;
    margin-bottom: 20px;
}

mat-checkbox{
    display: flex;
    width: 10%;
}

.product .picture {
    height: 200px;
    width: 20%;
}

.product .content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.product .content .title {
    font-size: 1.5em;
    font-weight: bold;
}

.quantity-inputbox {
    width: 50px;
    text-align: center;
}

.product .price {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none ;
  margin: 0;
}

.product .quantity button{
    color: #73A24E;
}