
.card:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
      
}

.card-image {
    height: 200px;
}

.card-subtitle {
    min-height: 60px;   
}

.card-content {
    height: 80px;
}

.card-content p{
    overflow: hidden;
    /* word-break: break-all; */
}

mat-card-footer{
    padding: 4px
}

.button-add-cart {
    color: white;
    height: 40px;
    min-width: 100%;
    background: #73A24E
}

.button-add-cart:hover {
    opacity: .8;
}