

.card-image {
    height: 300px;
}

.card-subtitle {
    min-height: 60px;   
}

.card-content {
    height: 100px;
}

.card-content p{
    overflow: hidden;
}

.button-add-cart {
    color: white;
    height: 30px;
    min-width: 100%;
    background: #73A24E
}

.button-add-cart:hover {
    opacity: 0.5;
}