<mat-card class="card" >
    <mat-card-title>
        <img class="card-image" mat-card-image src="{{this.product.getImage()}}" alt="photo of {{this.product.getName}}">
    </mat-card-title>
    <mat-card-subtitle class="card-subtitle">
        <div>{{this.shortenTitle()}}</div>
        <div>{{this.product.getPrice() | currency:"PHP":"symbol"}}</div>
    </mat-card-subtitle>
    <mat-card-content class="card-content">
        <p>{{this.shortenDescription()}}</p>
    </mat-card-content>
    <mat-card-footer>
        <button class="button-add-cart" mat-button color="primary" (click)="this.handleClickEvent()"> Add to Cart</button>
    </mat-card-footer>
</mat-card>