.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
    padding-left: 10%;
    padding-right: 10%;
}

.body{
    margin-left: 10%;
    margin-right: 10%;
    padding: 80px 0
}