
<mat-toolbar class="nav">
  <a routerLink="/">
    <!-- <span>Treat Anyone</span> -->
    <img class="dashboard-logo" src="assets/logo/treatanyonelogo.png">
  </a>

  <a routerLink="/cart" *ngIf="(products$ | async) as products" >
      <mat-icon class="cart-icon"  matBadgeColor="primary" [matBadge]="products">shopping_cart</mat-icon>
  </a>
  <a  class="disabled" *ngIf="!(products$ | async)" >
    <mat-icon class="cart-icon"  matBadgeColor="primary" [matBadge]="0">shopping_cart</mat-icon>
</a>
</mat-toolbar>
<div class="body">
  <router-outlet></router-outlet>
</div>
