.checkout-details{
    display: flex;
    flex-direction: column;
}

.subtotal{
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-end;
}

.subtotal .title{
    margin-right: 20px;
}

.checkout-button{
    display: flex;
    justify-content: flex-end;

}

.checkout-button button{
    font-size: 1.25em;
    background: #73A24E;
    color: white;
}

.checkout-button button:hover {
    opacity: 0.5;
}