<mat-card>
    <mat-card-title>
        Billing Information
    </mat-card-title>

    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="First Last">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="number" placeholder="Please enter your mobile number">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Other Notes</mat-label>
            <input matInput placeholder="Please enter your Notes">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>House Number, Building, and Steet Name</mat-label>
            <input matInput placeholder="Please enter your house number, building and Steet Name">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Province</mat-label>
            <input matInput placeholder="Please enter your province">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>City/Municipality</mat-label>
            <input matInput placeholder="Please enter your city/unicipality">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Province</mat-label>
            <input matInput  placeholder="Please enter your barangay">
          </mat-form-field>
    </mat-card-content>
</mat-card>